<mat-drawer-container class="im-sidebar" [hasBackdrop]="hasBackdrop.value">
  <mat-drawer #drawer [mode]="mode.value" opened>
    <button mat-icon-button (click)='onToggleDrawer()' class="im-btn-toggle">
      <mat-icon>format_indent_increase</mat-icon>
    </button>
    <mat-list>
      <mat-list-item routerLink="/contacts" [routerLinkActive]="['is-active']">
        <button mat-icon-button>
          <mat-icon>contacts</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/orders" [routerLinkActive]="['is-active']">
        <button mat-icon-button>
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/products" [routerLinkActive]="['is-active']">
        <button mat-icon-button>
          <mat-icon>card_giftcard</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/reports" [routerLinkActive]="['is-active']">
        <button mat-icon-button>
          <mat-icon>bar_chart</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/settings" [routerLinkActive]="['is-active']">
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-header></app-header>
    <div class="im-body">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>