<div *ngIf="contactAndFields else loading">
  <div class="im-dashboard">
    <div class="im-left-content">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                color="primary"
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                color="primary"
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
    <div class="im-right-content">
      <mat-tab-group backgroundColor="primary" color="primary" mat-stretch-tabs class="mat-elevation-z8">
        <mat-tab label="First">
          <div class="im-tab-content">
            <div *ngIf="selection.isEmpty(); else elseBlock" class="im-no-selected">
              <p>No row selected</p>
            </div>
            <ng-template #elseBlock>
              <mat-form-field>
                <mat-label>No.</mat-label>
                <input matInput placeholder="No" [value]="getSelectedRow().position">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" [value]="getSelectedRow().name">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Weight</mat-label>
                <input matInput placeholder="Weight" [value]="getSelectedRow().weight">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Symbol</mat-label>
                <input matInput placeholder="Symbol" [value]="getSelectedRow().symbol">
              </mat-form-field>
            </ng-template>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<ng-template #loading>
  <div>Loading...</div>
</ng-template>