/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";


body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.im-dashboard .im-right-content .mat-tab-body-wrapper {
  flex: 1;
}